@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  
  .transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}

/* Vertical Text */
.vertical-text {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

/* Form Styles */
input, textarea {
  @apply border-gray-300 focus:ring-2 focus:ring-pink-500 focus:border-pink-500;
}